/**
 * @name alfred
 * @description customized discord theme using windows 11 mica (not light-mode friendly)
 * @author alfred (@a.l.f.y)
 * @authorLink https://github.com/alfuwu/
 * @version :3
 * @invite G3Hu56qbVf
 * @authorId 1038466644353232967
*/

/* import theme modules */
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");
@import url("https://discord-mica.pages.dev/src/main.css");
/*@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");*/

body {
    /* font options */
    --font: ''; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: aligned; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
    --chatbar-padding: 8px; /* padding of the chatbar. only applies in aligned mode. */

    /* other options */
    --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
    /* home icon thing */
    --home-image: url('https://i.imgur.com/233d55Y.gif');
	
    --colors: off; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--bg-4); /* text on colored elements */
    --text-1: hsl(0, 0%, 100%); /* other normally white text */
    --text-2: hsl(0, 0%, 100%); /* headings and important text */
    --text-3: hsl(0, 0%, 100%); /* normal text */
    --text-4: hsl(221, 14%, 70%); /* icon buttons and channels */
    --text-5: hsl(0, 0%, 50%); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: hsla(220, 15%, 20%, 1); /* dark buttons when clicked */
    --bg-2: hsla(220, 15%, 16%, 1); /* dark buttons */
    --bg-3: hsla(220, 15%, 13%, 1); /* spacing, secondary elements */
    --bg-4: hsla(220, 15%, 10%, 1); /* main background color */
    --hover: hsla(221, 19%, 40%, 0.1); /* channels and buttons when hovered */
    --active: hsla(220, 19%, 40%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(220, 19%, 40%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--red-1); /* links and other accent text */
    --accent-2: var(--red-2); /* small accent elements */
    --accent-3: var(--red-3); /* accent buttons */
    --accent-4: var(--red-4); /* accent buttons when hovered */
    --accent-5: var(--red-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */
    --accent-reaction: color-mix(in hsl, var(--accent-1), white 30%); /* reaction count accent */

    /* status indicator colors */
    --online: var(--green-2); /* change to #40a258 for default */
    --dnd: var(--red-2); /* change to #d83a41 for default */
    --idle: var(--yellow-2); /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: oklch(75% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(65% 0.12 0);
    --red-4: oklch(60% 0.12 0);
    --red-5: oklch(55% 0.12 0);

    --green-1: oklch(75% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(65% 0.11 170);
    --green-4: oklch(60% 0.11 170);
    --green-5: oklch(55% 0.11 160);

    --blue-1: oklch(75% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(65% 0.1 215);
    --blue-4: oklch(60% 0.1 215);
    --blue-5: oklch(55% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(75% 0.11 90);
    --yellow-3: oklch(70% 0.11 90);
    --yellow-4: oklch(65% 0.11 90);
    --yellow-5: oklch(60% 0.11 90);

    --purple-1: oklch(75% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(65% 0.11 310);
    --purple-4: oklch(60% 0.11 310);
    --purple-5: oklch(55% 0.11 310);

    /* mica */
    /* dark mode */
    --dark-bg: transparent; /* rgba(240,185,190,0.113); to achieve a screenshot-like effect */
    --dark-flyout: rgba(30, 30, 30);
    --dark-accent: rgb(88, 101, 242);
    --dark-accent-hovered: rgb(70, 84, 192); /* also disabled button */
    --dark-accent-font-color: white;
    --dark-button: rgb(45, 45, 45);
    --dark-button-border: rgb(60, 60, 60);
    --dark-button-font-color: white;
    --dark-background-accent: rgba(50, 50, 50, 0.9);
    --dark-status-panel: rgba(30, 30, 30, 0.4);

    /* light mode */
    --light-bg: transparent;
    --light-flyout: rgb(255, 255, 255);
    --light-accent: rgb(88, 101, 242);
    --light-accent-hovered: rgb(70, 84, 192); /* also disabled button */
    --light-accent-font-color: white;
    --light-button: rgb(251, 251, 251);
    --light-button-border: rgb(204, 204, 231);
    --light-button-font-color: black;
    --light-background-accent: rgba(160, 160, 160, 0.9);
    --light-status-panel: rgba(255, 255, 255, 0.4);

    /* titlebar */
    --custom-app-top-bar-height: calc(24px + var(--space-sm)); /* set to 0 if you don't want the discord titlebar */
    --title-bar-icon: flex; /* set to none to remove icons */
}

.f75fb00fb7356cbe-subtitleContainer /* that title bar thing that has the channel name, desc, threads, pins, search bar, etc */,
._133bf5eea8e33a34-peopleColumn /* friends list background thing in home tab */,
._535437b3d3b11fd1-scroller /* roles/members list in the channel permissions tab */,
.theme-dark.theme-darker.images-dark._9293f6b2fc12398a-container._9293f6b2fc12398a-themed,
.d852db00c0588eb9-wrapper,
.fc817765600a960a-wrapper.fc817765600a960a-cozy {
    background-color: transparent !important; /* compatability with mica */
}

._9293f6b2fc12398a-children::after {
    display: none;
}
._5126c0cd07f243a0-ephemeral /* ephemeral messages */ {
    background: var(--mention) !important;
}
._5126c0cd07f243a0-ephemeral:hover {
    background: var(--mention-hover) !important;
}
/*.f8896c4f6be18f59-reaction /forum post reaction/ { }(*/
.f8896c4f6be18f59-reactionMe /* forum post reaction (reacted to) */ {
    background-color: var(--mention-background);
}
.f8896c4f6be18f59-reactionMe .f8896c4f6be18f59-reactionCount /* forum post reaction text (reacted to) */ {
    color: var(--accent-reaction);
}
/* fix weird scroll bar thing showing in the folder color picker */
._8a031a135bfcb9ba-body.d125d22cdfd32cfe-auto.d125d22cdfd32cfe-scrollerBase ._8a031a135bfcb9ba-bodyInner {
    overflow: hidden;
}
._459fb7bcd881f8d6-colorPickerSwatch[style="background-color: rgb(88, 101, 242);"] /* folder color picker swatch */,
.faa96b2163f6a142-newBadge /* forum post new badge */,
._5126c0cd07f243a0-mentioned:before /* mention message left edge */ {
    background-color: var(--accent-2) !important;
}
.visual-refresh ._7aaec78b97ff00f7-voiceBar ._7aaec78b97ff00f7-barText, .visual-refresh ._7aaec78b97ff00f7-voiceChannelsIcon /* x in voice bar text */ {
    color: var(--accent-2);
}
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked /* settings checkbutton background */ {
    background-color: var(--accent-2) !important;
}
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked ._3f21e80f8677ec40-slider > svg > path /* settings checkbutton check */ {
    fill: var(--accent-2) !important;
}
._0f481cbbd7530492-newMessagesBar /* unread bar */ {
    background-color: var(--accent-3);
}
._0f481cbbd7530492-barButtonAlt /* unread bar mark as read button */ {
    --button-secondary-background: var(--accent-3);
    --button-secondary-background-hover: var(--accent-4);
}
._2dc39186a9b98da4-result:hover /* gif hover */ {
    outline: 2px solid var(--accent-2);
}
#vc-spotify-player /* vencord plugin thing */ {
    --vc-spotify-green: var(--green-4);
}
.a562c840daab72a7-barFill /* spotify progress bar (idk if this affects anything else) */ {
    background-color: var(--green-4) !important;
}
.vc-btn-primary,
._201d5e8a3c09670a-button,
.a22cb0c66246f5d3-button.a22cb0c66246f5d3-primary /* store button */,
._82f0793afa59e5dc-botTagRegular:not(._82f0793afa59e5dc-botTagOP) /* bot tag */ {
    --control-primary-background-default: hsl(var(--blurple-50-hsl)) !important;
    color: white !important;
    
    svg > path {
        fill: white !important;
    }
}
/* fix loading circle thing */
svg > * /* all svg children */ {
    --brand-500: default !important;
}
.b26b790fd1005393-mediaBarGrabber {
    --brand-560: var(--accent-4) !important;
}
/* change setttings modal colors */
._23e6b439306f125a-standardSidebarView /* main settings modal wrapper */ {
    background-color: hsla(0, 0%, 10%, 0.567) !important;
}
._23e6b439306f125a-standardSidebarView > ._23e6b439306f125a-sidebarRegion /* settings modal sidebar */ {
    background-color: hsla(0, 0%, 10%, 0.666) !important;
}

/* change discord icon */
div[data-list-item-id="guildsnav___home"] {
    background: var(--home-image) top center/110% no-repeat;
}
/* hide default discord icons */
div[data-list-item-id="guildsnav___home"] img {
    display: none;
}
._36d072eab2b2e737-messagesWrapper:has(._36d072eab2b2e737-chatTypingGradientAtBottom),
._36d072eab2b2e737-messagesWrapper:has(._36d072eab2b2e737-chatTypingGradientNotAtBottom) {
    ._36d072eab2b2e737-scrollerSpacer {
        height: 8px; /* originally 40px, needs to be 32px smaller since the scroller is being moved 32px up */
    }
    ._36d072eab2b2e737-scroller {
        bottom: 32px; /* move 32px up so that the typing indicator doesn't get overlayed over message content */
    }
}
._623de82e76ad7f82-embedFull /* fix embeds */ {
    border-radius: 0;
}

/* fix the pins buttons being ugly and white */
.overlay-a22cb0c66246f5d3-primary {
    --control-text-overlay-primary-default: var(--accent-font) !important;
    --control-background-overlay-primary-default: hsl(var(--blurple-50-hsl)) !important;

    &:hover {
        --control-text-overlay-primary-hover: var(--accent-font) !important;
        --control-background-overlay-primary-hover: hsl(var(--blurple-60-hsl)) !important;
    }
}
/* fix skeleton loading background */
._6c79861fd96f56b1-wrapper {
    background-color: transparent !important;
}

::selection,
.highlight {
    background: var(--accent-3);
}

.visual-refresh body,
.visual-refresh .theme-dark:not(.custom-user-profile-theme),
.visual-refresh .theme-light:not(.custom-user-profile-theme) {
    --background-mentioned: var(--mention);
    --background-mentioned-hover: var(--mention-hover);
    
    /*--text-brand: var(--accent-1); /* text button stuff */
    /*--text-link: var(--accent-1); /* links */

    --mention-foreground: var(--accent-1);
    --mention-background: color-mix(in hsl, var(--accent-2), transparent 90%);

    --message-reacted-text: var(--accent-reaction);
    --message-reacted-background: color-mix(in hsl, var(--accent-2), transparent 80%);

    --brand-360: var(--accent-2);
    --brand-500: var(--accent-2);
    --blurple-50: var(--accent-2);
}

/* align the settings window buttons (minimize, maximize, close) to their normal position */
#app-mount > .c38106a3f0c3ca76-bar > .c38106a3f0c3ca76-trailing > .c38106a3f0c3ca76-winButtons {
    margin-top: 30px;
}

/* fix the darkening layer in the settings modal screen */
._960e4207cea8323e-layer.stop-animations:first-child::after,
.BA__layerContainer .BA__layer--hidden:first-child::after {
	opacity: 0.5 !important;
	z-index: 1000 !important;
	pointer-events: none !important;
}
._960e4207cea8323e-layer.stop-animations:first-child,
.BA__layerContainer .BA__layer--hidden:first-child {
    filter: blur(5px) !important;
}

/* hide nitro section of friends list */
._972a0d22c8afa7f0-link[href="/store"] {
    display: none;
}
/* hide "quest" advertisements */
._0d6162a4e6a4b802-mask {
    display: none;
}
/* hide the "play again" section in DMs */
.container__675e5 {
    display: none !important;
}
/* hide Nitro gift button */
div[aria-label="Send a gift"] {
    display: none;
}
button[aria-label="Send a gift"] {
    display: none;
}

.c8ffbb79449f399c-membersWrap {
    background-color: var(--background-base-lower) !important;
}

/* make guild banners fade at the bottom */
.f37cb1984c371ee5-container .f37cb1984c371ee5-animatedContainer {
	background: none;
	box-shadow: none;
}
.f37cb1984c371ee5-bannerImage {
	-webkit-mask: linear-gradient(rgba(0,0,0,0.9) 70%, rgba(0,0,0,0) 100%);
}
.f37cb1984c371ee5-bannerImage::before {
	display: none;
}

/* fix orbs */
._1a9cebfbd0c9d0f6-headerBarContent {
    padding-inline-end: var(--top-bar-right-margin);
}

._2ea32c412048f708-modeMuted ._2ea32c412048f708-name,
._2ea32c412048f708-modeSelected ._2ea32c412048f708-name,
.aa8da23faa27393c-brand.aa8da23faa27393c-item,
.aa8da23faa27393c-themed.aa8da23faa27393c-item,
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-name,
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted:hover ._29444ba32c7fbeab-icon,
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted:hover ._29444ba32c7fbeab-name,
._29444ba32c7fbeab-wrapper:hover ._29444ba32c7fbeab-icon,
._29444ba32c7fbeab-wrapper:hover ._29444ba32c7fbeab-name,
._2ea32c412048f708-modeConnected ._2ea32c412048f708-name,
._2ea32c412048f708-modeSelected ._2ea32c412048f708-name,
._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name,
._2ea32c412048f708-notInteractive._2ea32c412048f708-modeConnected ._2ea32c412048f708-name,
._2ea32c412048f708-notInteractive._2ea32c412048f708-modeSelected ._2ea32c412048f708-name,
._2ea32c412048f708-unread._2ea32c412048f708-unreadImportant,
._752971923a1e6683-markup blockquote,
.bf202d63ad53e289-interactive,
.c99c29809d200a61-clickable,
._63ed30c16c7151f2-tags,
._63ed30c16c7151f2-pronouns {
    --text-strong: var(--text-3) !important;
    --text-subtle: var(--text-4) !important;
    --interactive-text-hover: var(--text-3) !important;
    --interactive-text-active: var(--text-2) !important;
}
._2ea32c412048f708-modeMuted ._2ea32c412048f708-icon,
._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon,
._9293f6b2fc12398a-selected ._9293f6b2fc12398a-icon,
._9293f6b2fc12398a-clickable ._9293f6b2fc12398a-icon,
.c69b6db0641110f6-actionIcon {
    --icon-strong: var(--text-3) !important;
    --icon-subtle: var(--text-4) !important;
    --interactive-text-default: var(--icon-subtle) !important;
}
._2ea32c412048f708-typeThread ._2ea32c412048f708-name {
    font-size: unset;
}
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe,
.a2c9e80f6531ccc2-pill.a2c9e80f6531ccc2-selected {
    --message-reacted-background-default: var(--message-reacted-background);
    --message-reacted-text-default: var(--message-reacted-text);
    --brand-15a: var(--message-reacted-background-default);
    --opacity-blurple-32: color-mix(in hsl, var(--accent-2), transparent 60%);
}
.e29cd7b93c4f1266-titleContainer.e29cd7b93c4f1266-titleElevated,
.c6bf1b7af480dfda-header,
.f75fb00fb7356cbe-chatContent {
    background: transparent !important;
}
._752971923a1e6683-blockquoteDivider {
    --spine-default: var(--text-5);
}

.c0c49a3e5c8626ac-container {
    display: none;
}

@container not style(--home-image: none) {
    div[data-list-item-id="guildsnav___home"] > div {
        color: transparent !important;
        background-color: transparent !important;
    }
}
