h2, h3 {
    font-family: 'papyrus', 'Papyrus', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px #000,
                -1px 1px 2px #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;
    -webkit-text-stroke: 0.1px black;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.page-contents.townsfolk > h2::after,
.page-contents.outsider > h2::after,
.page-contents.minion > h2::after,
.page-contents.demon > h2::after,
.page-contents.traveller > h2::after,
.page-contents.fabled > h2::after,
.page-contents.jinxes > h2::after {
    content: "";
    position: absolute;
    top: 18.6rem;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    pointer-events: auto;
}

body {
    font-size:0;
}
body > * {
    font-size:16px;
}

.page-contents img {
    will-change: filter;
    transition: filter 300ms;
}
.townsfolk img:hover {
    filter: drop-shadow(0 0 2em #367ab7ee);
}
.outsider img:hover {
    filter: drop-shadow(0 0 2em #53b7b7ee);
}
.minion img:hover {
    filter: drop-shadow(0 0 2em #d96e2aee);
}
.demon img:hover {
    filter: drop-shadow(0 0 2em #ed002aee);
}
.traveller img:hover {
    filter: drop-shadow(-1em 0 1em #646cff99) drop-shadow(1em 0 1em #d9002a99);
}
.fabled img:hover, .l:hover {
    filter: drop-shadow(-1em 0 1em #c3aa15aa) drop-shadow(1em 0 1em #8c5d06aa);
}
.jinxes img:hover {
    filter: drop-shadow(0 0 2em #888888aa);
}

.emoji {
    transform: translateY(25%);
}

.c {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: li
}
.c li {
    position: relative;
    padding: 0 0 0 47px;
    margin: 2px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    color: #ddd;
    font-family: 'Garamond', serif;
    font-size: 18px;
    transition: all .3s
}
.c li::before {
    content: counter(li, upper-roman) ".";
    counter-increment: li;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 14px
}
.c li a, .ability a {
    font-family: 'papyrus', 'Papyrus', 'Garamond', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: inline-block;
}
.c li a::after, .ability a::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #fff;
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
    clip-path: inset(0 100% 0 0);
    transition: clip-path 320ms ease-in-out;
}
.c li a::after {
    left: 47px;
    width: fit-content;
    width: calc-size(fit-content, size + 2px);
}
.c li a:hover::after, .ability a:hover::after {
    clip-path: inset(-100% -100% -100% -100%);
}

.ability a {
    position: relative;
    z-index: 1;
}
.ability a.t {
    color: rgb(15, 59, 156) !important;
}
.ability a.o {
    color: rgb(46, 155, 153) !important;
}
.ability a.m {
    color: rgb(131, 69, 25) !important;
}
.ability a.d {
    color: rgb(66, 0, 0) !important;
}
.ability a.tr {
    color: #4a1255 !important;
}
.ability a.f {
    color: rgb(148, 104, 7) !important;
}
.ability a.j {
    color: rgb(73, 73, 73) !important;
}
.townsfolk .ability a {
    color: #003fb2;
}
.outsider .ability a {
    color: #006893;
}
.minion .ability a {
    color: #9f0000;
}
.demon .ability a {
    color: #940000;
}
.traveller .ability a {
    color: #4a1255;
}
.fabled .ability a {
    color: #553412;
}
.jinxes .ability a {
    color: #333;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-top: 20px;
    border-radius: 15px;
    filter: drop-shadow(0 0 2em #000);
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

ol.nav {
    flex: 0 0 140px;
    font-family: 'papyrus', 'Papyrus', 'Garamond', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    list-style: none;
    margin: 5px -15px 5px 5px;
    padding: 1vh 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    z-index: 10;
    background: linear-gradient(180deg, #2b1a1a, #3a2a2a);
    border-right: 3px solid rgba(255, 223, 186, 0.2);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

ol.nav > li {
    padding: 0 0.5rem;
    margin: 3px 7px;
    border-radius: 6px;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out, color 200ms ease-in-out;
}

.nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    /*padding: 0.5rem;*/
    border-radius: 6px;
    transition: color 200ms ease-in-out;
}

.nav a:hover {
    text-decoration: none;
    box-shadow: none;
    color: #fff;
}

.nav > li:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(255, 223, 186, 0.4);
    transform: scale(1.05);
    color: #fff;
}

.nav > li.townsfolk {
    background: rgba(31, 101, 255, 0.35);
    box-shadow: 0 0 10px rgba(31, 101, 255, 0.3);
}
.nav > li.outsider {
    background: rgba(70, 213, 255, 0.35);
    box-shadow: 0 0 10px rgba(70, 213, 255, 0.3);
}

.nav > li.minion {
    background: rgba(255, 105, 0, 0.35);
    box-shadow: 0 0 10px rgba(255, 105, 0, 0.3);
}

.nav > li.demon {
    background: rgba(206, 1, 0, 0.35);
    box-shadow: 0 0 15px rgba(206, 1, 0, 0.4);
}

.traveller h1,
.traveller h2,
.traveller h3,
.traveller h4,
.traveller h5,
.traveller h6,
.traveller .ability,
.traveller .team,
.traveller .overview > p:nth-child(1)::first-letter,
.traveller .overview > p + p::before {
    color: #4a1255;
}
.traveller hr {
    border-color: #4a1255;
}
.nav > li.traveller {
    background: linear-gradient(90deg, rgba(31, 101, 255, 0.35) 49%, rgba(206, 1, 0, 0.35) 51%);
    box-shadow: -4px 0px 7px rgba(31, 101, 255, 0.25),
                4px 0px 7px rgba(206, 1, 0, 0.25);
}

.nav > li.fabled {
    background: rgba(255, 233, 31, 0.35);
    box-shadow: 0 0 10px rgba(255, 233, 31, 0.3);
}

@media only screen and (max-width: 650px) {
    ol.nav {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        height: unset;
        margin: 0;
        padding: 0.5rem 0;
        border-bottom: 3px solid rgba(255, 223, 186, 0.2);
        border-right: none;
        box-shadow: none;
    }
    
    .nav li {
        flex: 1 0 auto;
        margin: 0 5px;
    }

    .nav a {
        padding: 0.2rem 0.75rem;
    }
}

@font-face{
    font-family:'papyrus';
    src: url('https://alfuwu.github.io/Images/papyrus.woff') format('woff'),
        url('https://alfuwu.github.io/Images/papyrus.ttf') format('truetype');
}