/**
 * @name rainbow ezkli
 * @description makes ezkli rainbow
 * @author alfred (@a.l.f.y)
 * @authorLink https://github.com/alfuwu/
 * @version :3
 * @invite G3Hu56qbVf
 * @authorId 1038466644353232967
*/

:root {
  /* not possible with current CSS capabilities afaict */
  /*--chat-mentions: on;*/ /* colors in chat mentions                     | can be set to on or off */
  --member-list: on; /* colors in the member list                         | can be set to on or off */
  --reactors-list: on; /* colors in the reactions list                    | can be set to on or off */
  --poll-results: on; /* colors in the poll results                       | can be set to on or off */
  --low-perf: off; /* removes expensive :has selectors, increasing perf   | can be set to on or off */

  --ezkli-color: linear-gradient(
    to right,
    rgb(255, 127, 127),
    rgb(255, 193, 117),
    rgb(253, 255, 123),
    rgb(127, 208, 103),
    rgb(140, 131, 237),
    rgb(213, 124, 255),
    rgb(255, 127, 127)
  );
}

.f75fb00fb7356cbe-chatContent[aria-label=" (channel)"] ._5126c0cd07f243a0-message,
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .f75fb00fb7356cbe-chatContent ._5126c0cd07f243a0-message, /* detect dms properly in case discord fixes the aria-label for dm channels */
.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-gdm) .f75fb00fb7356cbe-chatContent ._5126c0cd07f243a0-message /* group dms have a proper channel aria-label, so we need to use another method of detection */ {
  .c19a557985eb7793-contents:has(> img[src*="s/1037170273897689189"]) > h3 > span, /* ezkli */
  .c19a557985eb7793-repliedMessage:has(> img[src*="s/1037170273897689189"]) {
    > .c19a557985eb7793-username {
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 4em auto;
      background-image: var(--ezkli-color);
      -webkit-text-fill-color: transparent;

      --display-name: attr(data-text); /* yoink */

      &::after {
        background: inherit;
        content: var(--display-name);
        inset: 0;
        position: absolute;
        filter: blur(4px);
        opacity: 0;
        text-indent: 0;
        transition: opacity .1s ease-in-out;
        z-index: -1;
      }
    }
  }

  &:hover {
    .c19a557985eb7793-contents:has(> img[src*="s/1037170273897689189"]) > h3 > span > .c19a557985eb7793-username,
    .c19a557985eb7793-repliedMessage:has(> img[src*="s/1037170273897689189"]) > .c19a557985eb7793-username {
      animation: ezkliGradientAnim 1.5s linear infinite !important;
      &::after {
        opacity: 0.7 !important;
        transition: opacity .1s ease-in-out;
        animation: ezkliGradientAnim 1.5s linear infinite !important;
      }
    }
  }
}

@container style(--member-list: on) {
/* group dm member list */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .c8ffbb79449f399c-container ._5d473ecff348c314-member,
.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-gdm) .c8ffbb79449f399c-container ._5d473ecff348c314-member {
  ._5d473ecff348c314-memberInner:has(> ._91a9d7f7e5248a56-avatar > ._44b0c28be7879b7b-wrapper > ._44b0c28be7879b7b-svg > foreignObject > div > img[src*="s/1037170273897689189"]) /* ezkli */ {
    ._703b91fc872193e8-username {
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 4em auto;
      background-image: var(--ezkli-color);
      -webkit-text-fill-color: transparent;

      &::after {
        background: inherit;
        content: "EZKLI"; /* there's no data-text attribute to yoink this time soooo.... */
        inset: 0;
        position: absolute;
        filter: blur(4px);
        opacity: 0;
        text-indent: 0;
        transition: opacity .1s ease-in-out;
        z-index: -1;
      }
    }
  }

  &:hover {
    ._5d473ecff348c314-memberInner:has(> ._91a9d7f7e5248a56-avatar > ._44b0c28be7879b7b-wrapper > ._44b0c28be7879b7b-svg > foreignObject > div > img[src*="s/1037170273897689189"]) ._703b91fc872193e8-username {
      animation: ezkliGradientAnim 1.5s linear infinite !important;
      &::after {
        opacity: 0.7 !important;
        transition: opacity .1s ease-in-out;
        animation: ezkliGradientAnim 1.5s linear infinite !important;
      }
    }
  }
}
}

@container style(--reactors-list: on) and stlye(--low-perf: off) {
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat ._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .b7f4b43fe1b6e285-reactorsContainer,
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-gdm) .b7f4b43fe1b6e285-reactorsContainer {
  .b7f4b43fe1b6e285-reactor:has(> .fd297e0eff2da25e-marginReset > div > svg > foreignObject > div > img[src*="s/1037170273897689189"]) /* ezkli */ {
    > ._4bd5201c86a2042b-defaultColor > span {
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 4em auto;
      background-image: var(--ezkli-color);
      -webkit-text-fill-color: transparent;

      &::after {
        background: inherit;
        content: "EZKLI"; /* no data-text attribute here either 💔 */
        inset: 0;
        position: absolute;
        filter: blur(4px);
        opacity: 0;
        text-indent: 0;
        transition: opacity .1s ease-in-out;
        z-index: -1;
      }
    }

    &:hover > ._4bd5201c86a2042b-defaultColor > span {
      animation: ezkliGradientAnim 1.5s linear infinite !important;
      &::after {
        opacity: 0.7 !important;
        transition: opacity .1s ease-in-out;
        animation: ezkliGradientAnim 1.5s linear infinite !important;
      }
    }
  }
}
}

@container style(--poll-results: on) and stlye(--low-perf: off) {
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat ._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .votersListContainer__01c8c,
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-gdm) .votersListContainer__01c8c {
  ._01c8cef726c85956-voter:has(> div._01c8cef726c85956-voterAvatarContainer > div > svg > foreignObject > div > img[src*="s/1037170273897689189"]) /* ezkli */ {
    > ._4bd5201c86a2042b-defaultColor {
      --display-name: attr(aria-label); /* yoink */

      > span {
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 4em auto;
        background-image: var(--ezkli-color);
        -webkit-text-fill-color: transparent;
        position: relative;

        &::after {
          background: inherit;
          content: var(--display-name);
          inset: 0;
          position: absolute;
          filter: blur(4px);
          opacity: 0;
          text-indent: 0;
          transition: opacity .1s ease-in-out;
          z-index: -1;
        }
      }
    }

    &:hover > ._4bd5201c86a2042b-defaultColor > span {
      animation: ezkliGradientAnim 1.5s linear infinite !important;
      &::after {
        opacity: 0.7 !important;
        transition: opacity .1s ease-in-out;
        animation: ezkliGradientAnim 1.5s linear infinite !important;
      }
    }
  }
}
}

@container style(--reactors-list: on) and stlye(--low-perf: on) {
.b7f4b43fe1b6e285-reactorsContainer {
  .b7f4b43fe1b6e285-reactor:has(> .fd297e0eff2da25e-marginReset > div > svg > foreignObject > div > img[src*="s/1037170273897689189"]) /* ezkli */ {
    > ._4bd5201c86a2042b-defaultColor > span {
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 4em auto;
      background-image: var(--ezkli-color);
      -webkit-text-fill-color: transparent;

      &::after {
        background: inherit;
        content: "EZKLI"; /* no data-text attribute here either 💔 */
        inset: 0;
        position: absolute;
        filter: blur(4px);
        opacity: 0;
        text-indent: 0;
        transition: opacity .1s ease-in-out;
        z-index: -1;
      }
    }

    &:hover > ._4bd5201c86a2042b-defaultColor > span {
      animation: ezkliGradientAnim 1.5s linear infinite !important;
      &::after {
        opacity: 0.7 !important;
        transition: opacity .1s ease-in-out;
        animation: ezkliGradientAnim 1.5s linear infinite !important;
      }
    }
  }
}
}

@container style(--poll-results: on) and stlye(--low-perf: on) {
.votersListContainer__01c8c {
  ._01c8cef726c85956-voter:has(> div._01c8cef726c85956-voterAvatarContainer > div > svg > foreignObject > div > img[src*="s/1037170273897689189"]) /* ezkli */ {
    > ._4bd5201c86a2042b-defaultColor {
      --display-name: attr(aria-label); /* yoink */

      > span {
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 4em auto;
        background-image: var(--ezkli-color);
        -webkit-text-fill-color: transparent;
        position: relative;

        &::after {
          background: inherit;
          content: var(--display-name);
          inset: 0;
          position: absolute;
          filter: blur(4px);
          opacity: 0;
          text-indent: 0;
          transition: opacity .1s ease-in-out;
          z-index: -1;
        }
      }
    }

    &:hover > ._4bd5201c86a2042b-defaultColor > span {
      animation: ezkliGradientAnim 1.5s linear infinite !important;
      &::after {
        opacity: 0.7 !important;
        transition: opacity .1s ease-in-out;
        animation: ezkliGradientAnim 1.5s linear infinite !important;
      }
    }
  }
}
}

@keyframes ezkliGradientAnim {
  0% {
    background-position: 0;
  }

  to {
    background-position: 4em;
  }
}
