/**
 * @name usernames
 * @description changes the color of various accounts' names in DMs
 * @author alfred (@a.l.f.y)
 * @authorLink https://github.com/alfuwu/
 * @version :3
 * @invite G3Hu56qbVf
 * @authorId 1038466644353232967
*/

:root {
  /* not possible with current CSS capabilities afaict */
  /*--chat-mentions: on;*/ /* colors in chat mentions                     | can be set to on or off */
  --member-list: on; /* colors in the member list                         | can be set to on or off */
  --reactors-list: on; /* colors in the reactions list                    | can be set to on or off */
  --poll-results: on; /* colors in the poll results                       | can be set to on or off */
  /* unfortunately, there's no good way to get this to work in gcs */
  --typing-indicator: on; /* colors in the typing indicator               | can be set to on or off */
  --low-perf: off; /* removes expensive :has selectors, increasing perf   | can be set to on or off */
}

/* afaict only dm channels have an aria label of " (channel)" */
.f75fb00fb7356cbe-chatContent[aria-label=" (channel)"] ._5126c0cd07f243a0-message,
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .f75fb00fb7356cbe-chatContent ._5126c0cd07f243a0-message, /* detect dms properly in case discord fixes the aria-label for dm channels */
.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-gdm) .f75fb00fb7356cbe-chatContent ._5126c0cd07f243a0-message /* group dms have a proper channel aria-label, so we need to use another method of detection */ {
  /* alfred */
  /* normal messages */
  .c19a557985eb7793-contents:has(img[src*="s/1038466644353232967"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1038466644353232967"]) .c19a557985eb7793-username {
    color: rgb(255, 0, 0) !important; /* rgb(255, 107, 107) */
  }
  /* tarik */
  .c19a557985eb7793-contents:has(img[src*="s/1112561208873193472"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1112561208873193472"]) .c19a557985eb7793-username {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .c19a557985eb7793-contents:has(img[src*="s/1037170273897689189"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1037170273897689189"]) .c19a557985eb7793-username {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .c19a557985eb7793-contents:has(img[src*="s/1338654892641751060"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1338654892641751060"]) .c19a557985eb7793-username {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .c19a557985eb7793-contents:has(img[src*="s/589545486374010884"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/589545486374010884"]) .c19a557985eb7793-username {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .c19a557985eb7793-contents:has(img[src*="s/801881481173401611"]) .c19a557985eb7793-username,
  .c19a557985eb7793-contents:has(img[src*="s/933770995104350258"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/801881481173401611"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/933770995104350258"]) .c19a557985eb7793-username {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .c19a557985eb7793-contents:has(img[src*="s/718453321727475792"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/718453321727475792"]) .c19a557985eb7793-username {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .c19a557985eb7793-contents:has(img[src*="s/894770559295049818"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/894770559295049818"]) .c19a557985eb7793-username {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .c19a557985eb7793-contents:has(img[src*="s/1408278092161749035"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1408278092161749035"]) .c19a557985eb7793-username {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .c19a557985eb7793-contents:has(img[src*="s/1125847724118523925"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1125847724118523925"]) .c19a557985eb7793-username {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .c19a557985eb7793-contents:has(img[src*="s/657079914079715329"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/657079914079715329"]) .c19a557985eb7793-username {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .c19a557985eb7793-contents:has(img[src*="s/1038469633960857740"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1038469633960857740"]) .c19a557985eb7793-username {
    color: rgb(255, 156, 64) !important;
  }

  /* miu */
  .c19a557985eb7793-contents:has(img[src*="s/1094378607046041803"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1094378607046041803"]) .c19a557985eb7793-username {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .c19a557985eb7793-contents:has(img[src*="s/1095416117280911511"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1095416117280911511"]) .c19a557985eb7793-username {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .c19a557985eb7793-contents:has(img[src*="s/1173046109833285793"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1173046109833285793"]) .c19a557985eb7793-username {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .c19a557985eb7793-contents:has(img[src*="s/1094416367228293120"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1094416367228293120"]) .c19a557985eb7793-username {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .c19a557985eb7793-contents:has(img[src*="s/1251505511912702063"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1251505511912702063"]) .c19a557985eb7793-username {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .c19a557985eb7793-contents:has(img[src*="s/1175234197967884288"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1175234197967884288"]) .c19a557985eb7793-username {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .c19a557985eb7793-contents:has(img[src*="s/1095426341354086400"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1095426341354086400"]) .c19a557985eb7793-username {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .c19a557985eb7793-contents:has(img[src*="s/1175210202518270135"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1175210202518270135"]) .c19a557985eb7793-username {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .c19a557985eb7793-contents:has(img[src*="s/1105545133442740304"]) .c19a557985eb7793-username,
  .c19a557985eb7793-repliedMessage:has(img[src*="s/1105545133442740304"]) .c19a557985eb7793-username {
    color: rgb(57, 94, 93) !important;
  }
}

@container style(--member-list: on) {
/* group dm member list */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .c8ffbb79449f399c-container ._5d473ecff348c314-member,
.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-gdm) .c8ffbb79449f399c-container ._5d473ecff348c314-member {
  /* alfred */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1038466644353232967"]) ._703b91fc872193e8-username {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1112561208873193472"]) ._703b91fc872193e8-username {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1037170273897689189"]) ._703b91fc872193e8-username {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1338654892641751060"]) ._703b91fc872193e8-username {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  ._5d473ecff348c314-memberInner:has(img[src*="s/589545486374010884"]) ._703b91fc872193e8-username {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  ._5d473ecff348c314-memberInner:has(img[src*="s/801881481173401611"]) ._703b91fc872193e8-username,
  ._5d473ecff348c314-memberInner:has(img[src*="s/933770995104350258"]) ._703b91fc872193e8-username {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  ._5d473ecff348c314-memberInner:has(img[src*="s/718453321727475792"]) ._703b91fc872193e8-username {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  ._5d473ecff348c314-memberInner:has(img[src*="s/894770559295049818"]) ._703b91fc872193e8-username {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1408278092161749035"]) ._703b91fc872193e8-username {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1125847724118523925"]) ._703b91fc872193e8-username {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  ._5d473ecff348c314-memberInner:has(img[src*="s/657079914079715329"]) ._703b91fc872193e8-username {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1038469633960857740"]) ._703b91fc872193e8-username {
    color: rgb(255, 156, 64) !important;
  }

  /* miu */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1094378607046041803"]) ._703b91fc872193e8-username {
    color: rgb(255, 173, 173) !important
  }
  /* alfred doppelganger */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1095416117280911511"]) ._703b91fc872193e8-username {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1173046109833285793"]) ._703b91fc872193e8-username {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1094416367228293120"]) ._703b91fc872193e8-username {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1251505511912702063"]) ._703b91fc872193e8-username {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1175234197967884288"]) ._703b91fc872193e8-username {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1095426341354086400"]) ._703b91fc872193e8-username {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1175210202518270135"]) ._703b91fc872193e8-username {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  ._5d473ecff348c314-memberInner:has(img[src*="s/1105545133442740304"]) ._703b91fc872193e8-username {
    color: rgb(57, 94, 93) !important;
  }
}
}

@container style(--reactors-list: on) and style(--low-perf: off) {
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat ._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .b7f4b43fe1b6e285-reactorsContainer,
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-gdm) .b7f4b43fe1b6e285-reactorsContainer {
  /* alfred */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1038466644353232967"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1112561208873193472"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1037170273897689189"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1338654892641751060"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/589545486374010884"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/801881481173401611"]) ._4bd5201c86a2042b-defaultColor,
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/933770995104350258"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/718453321727475792"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/894770559295049818"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1408278092161749035"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1125847724118523925"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/657079914079715329"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1038469633960857740"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1094378607046041803"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1095416117280911511"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1173046109833285793"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1094416367228293120"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1251505511912702063"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1175234197967884288"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1095426341354086400"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1175210202518270135"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1105545133442740304"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(57, 94, 93) !important;
  }
}
}
  
@container style(--poll-results: on) and style(--low-perf: off) {
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat ._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar) .votersListContainer__01c8c,
.a3002d7de5be5280-notAppAsidePanel:has(> [class*="app"] > div > ._960e4207cea8323e-layers > ._960e4207cea8323e-layer > ._5e434347c823b592-container > ._5e434347c823b592-base > ._5e434347c823b592-content > ._5e434347c823b592-page > div > .f75fb00fb7356cbe-chat .f75fb00fb7356cbe-gdm) .votersListContainer__01c8c {
  /* alfred */
  ._01c8cef726c85956-voter:has(img[src*="s/1038466644353232967"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  ._01c8cef726c85956-voter:has(img[src*="s/1112561208873193472"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  ._01c8cef726c85956-voter:has(img[src*="s/1037170273897689189"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  ._01c8cef726c85956-voter:has(img[src*="s/1338654892641751060"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  ._01c8cef726c85956-voter:has(img[src*="s/589545486374010884"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  ._01c8cef726c85956-voter:has(img[src*="s/801881481173401611"]) ._4bd5201c86a2042b-defaultColor,
  ._01c8cef726c85956-voter:has(img[src*="s/933770995104350258"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  ._01c8cef726c85956-voter:has(img[src*="s/718453321727475792"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  ._01c8cef726c85956-voter:has(img[src*="s/894770559295049818"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  ._01c8cef726c85956-voter:has(img[src*="s/1408278092161749035"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  ._01c8cef726c85956-voter:has(img[src*="s/1125847724118523925"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  ._01c8cef726c85956-voter:has(img[src*="s/657079914079715329"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  ._01c8cef726c85956-voter:has(img[src*="s/1038469633960857740"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  ._01c8cef726c85956-voter:has(img[src*="s/1094378607046041803"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  ._01c8cef726c85956-voter:has(img[src*="s/1095416117280911511"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  ._01c8cef726c85956-voter:has(img[src*="s/1173046109833285793"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  ._01c8cef726c85956-voter:has(img[src*="s/1094416367228293120"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  ._01c8cef726c85956-voter:has(img[src*="s/1251505511912702063"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  ._01c8cef726c85956-voter:has(img[src*="s/1175234197967884288"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  ._01c8cef726c85956-voter:has(img[src*="s/1095426341354086400"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  ._01c8cef726c85956-voter:has(img[src*="s/1175210202518270135"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  ._01c8cef726c85956-voter:has(img[src*="s/1105545133442740304"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(57, 94, 93) !important;
  }
}
}

@container style(--reactors-list: on) and style(--low-perf: on) {
.b7f4b43fe1b6e285-reactorsContainer {
  /* alfred */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1038466644353232967"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1112561208873193472"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1037170273897689189"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1338654892641751060"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/589545486374010884"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/801881481173401611"]) ._4bd5201c86a2042b-defaultColor,
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/933770995104350258"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/718453321727475792"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/894770559295049818"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1408278092161749035"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1125847724118523925"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/657079914079715329"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1038469633960857740"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1094378607046041803"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1095416117280911511"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1173046109833285793"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1094416367228293120"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1251505511912702063"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1175234197967884288"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1095426341354086400"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1175210202518270135"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .b7f4b43fe1b6e285-reactor:has(img[src*="s/1105545133442740304"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(57, 94, 93) !important;
  }
}
}
  
@container style(--poll-results: on) and style(--low-perf: on) {
.votersListContainer__01c8c {
  /* alfred */
  ._01c8cef726c85956-voter:has(img[src*="s/1038466644353232967"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  ._01c8cef726c85956-voter:has(img[src*="s/1112561208873193472"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  ._01c8cef726c85956-voter:has(img[src*="s/1037170273897689189"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  ._01c8cef726c85956-voter:has(img[src*="s/1338654892641751060"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  ._01c8cef726c85956-voter:has(img[src*="s/589545486374010884"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  ._01c8cef726c85956-voter:has(img[src*="s/801881481173401611"]) ._4bd5201c86a2042b-defaultColor,
  ._01c8cef726c85956-voter:has(img[src*="s/933770995104350258"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  ._01c8cef726c85956-voter:has(img[src*="s/718453321727475792"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  ._01c8cef726c85956-voter:has(img[src*="s/894770559295049818"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  ._01c8cef726c85956-voter:has(img[src*="s/1408278092161749035"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  ._01c8cef726c85956-voter:has(img[src*="s/1125847724118523925"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  ._01c8cef726c85956-voter:has(img[src*="s/657079914079715329"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  ._01c8cef726c85956-voter:has(img[src*="s/1038469633960857740"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  ._01c8cef726c85956-voter:has(img[src*="s/1094378607046041803"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  ._01c8cef726c85956-voter:has(img[src*="s/1095416117280911511"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  ._01c8cef726c85956-voter:has(img[src*="s/1173046109833285793"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  ._01c8cef726c85956-voter:has(img[src*="s/1094416367228293120"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  ._01c8cef726c85956-voter:has(img[src*="s/1251505511912702063"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  ._01c8cef726c85956-voter:has(img[src*="s/1175234197967884288"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  ._01c8cef726c85956-voter:has(img[src*="s/1095426341354086400"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  ._01c8cef726c85956-voter:has(img[src*="s/1175210202518270135"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  ._01c8cef726c85956-voter:has(img[src*="s/1105545133442740304"]) ._4bd5201c86a2042b-defaultColor {
    color: rgb(57, 94, 93) !important;
  }
}
}

@container style(--typing-indicator: on) {
/* alfred */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1038466644353232967"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 0, 0) !important;
}
/* tarik */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1112561208873193472"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(18, 138, 28) !important;
}
/* ezkli */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1037170273897689189"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(180, 20, 238) !important;
}
/* pep */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1338654892641751060"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(28, 109, 232) !important;
}
/* narox */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/589545486374010884"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 162, 0) !important;
}
/* zarzz */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/801881481173401611"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong,
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/933770995104350258"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 0, 0) !important;
}
/* lilly */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/718453321727475792"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 156, 222) !important;
}
/* rina */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/894770559295049818"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 91, 236) !important;
}
/* bazzy */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1408278092161749035"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(171, 251, 255) !important;
}
/* nakhi */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1125847724118523925"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(209, 108, 96) !important;
}
/* salvation */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/657079914079715329"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 234, 154) !important;
}
/* new hyleus */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1038469633960857740"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 156, 64) !important;
}

/* miu */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1094378607046041803"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 173, 173) !important;
}
/* alfred doppelganger */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1095416117280911511"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 0, 0) !important;
}
/* pukicho */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1173046109833285793"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 145, 50) !important;
}
/* tay */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1094416367228293120"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(255, 213, 0) !important;
}
/* tarik doppelganger */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1251505511912702063"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(14, 123, 33) !important;
}
/* vaporeon */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1175234197967884288"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(64, 105, 219) !important;
}
/* ezkli doppelganger */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1095426341354086400"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(180, 20, 238) !important;
}
/* dol'utan */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1175210202518270135"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(134, 134, 134) !important;
}
/* contore */
.f75fb00fb7356cbe-chat:has(._9293f6b2fc12398a-children .f75fb00fb7356cbe-avatar img[src*="s/1105545133442740304"]) .b8880176888cc928-typingDots > .b8880176888cc928-ellipsis+.b8880176888cc928-text > strong {
  color: rgb(57, 94, 93) !important;
}
}
