/**
 * @name usernames
 * @description changes the color of various accounts' names in DMs
 * @author alfred (@a.l.f.y)
 * @authorLink https://github.com/alfuwu/
 * @version :3
 * @invite G3Hu56qbVf
 * @authorId 1038466644353232967
*/

:root {
  /* not possible with current CSS capabilities afaict */
  /*--chat-mentions: on;*/ /* colors in chat mentions                     | can be set to on or off */
  --member-list: on; /* colors in the member list                         | can be set to on or off */
  --reactors-list: on; /* colors in the reactions list                    | can be set to on or off */
  --poll-results: on; /* colors in the poll results                       | can be set to on or off */
  /* unfortunately, there's no good way to get this to work in gcs */
  --typing-indicator: on; /* colors in the typing indicator               | can be set to on or off */
  --low-perf: off; /* removes expensive :has selectors, increasing perf   | can be set to on or off */
}

/* afaict only dm channels have an aria label of " (channel)" */
.chatContent_f75fb0[aria-label=" (channel)"] .message__5126c,
.chat_f75fb0:has(.children__9293f .avatar_f75fb0) .chatContent_f75fb0 .message__5126c, /* detect dms properly in case discord fixes the aria-label for dm channels */
.chat_f75fb0:has(.gdm_f75fb0) .chatContent_f75fb0 .message__5126c /* group dms have a proper channel aria-label, so we need to use another method of detection */ {
  /* alfred */
  /* normal messages */
  .contents_c19a55:has(img[src*="s/1038466644353232967"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1038466644353232967"]) .username_c19a55 {
    color: rgb(255, 0, 0) !important; /* rgb(255, 107, 107) */
  }
  /* tarik */
  .contents_c19a55:has(img[src*="s/1112561208873193472"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1112561208873193472"]) .username_c19a55 {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .contents_c19a55:has(img[src*="s/1037170273897689189"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1037170273897689189"]) .username_c19a55 {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .contents_c19a55:has(img[src*="s/1338654892641751060"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1338654892641751060"]) .username_c19a55 {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .contents_c19a55:has(img[src*="s/589545486374010884"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/589545486374010884"]) .username_c19a55 {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .contents_c19a55:has(img[src*="s/801881481173401611"]) .username_c19a55,
  .contents_c19a55:has(img[src*="s/933770995104350258"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/801881481173401611"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/933770995104350258"]) .username_c19a55 {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .contents_c19a55:has(img[src*="s/718453321727475792"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/718453321727475792"]) .username_c19a55 {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .contents_c19a55:has(img[src*="s/894770559295049818"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/894770559295049818"]) .username_c19a55 {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .contents_c19a55:has(img[src*="s/1408278092161749035"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1408278092161749035"]) .username_c19a55 {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .contents_c19a55:has(img[src*="s/1125847724118523925"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1125847724118523925"]) .username_c19a55 {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .contents_c19a55:has(img[src*="s/657079914079715329"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/657079914079715329"]) .username_c19a55 {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .contents_c19a55:has(img[src*="s/1038469633960857740"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1038469633960857740"]) .username_c19a55 {
    color: rgb(255, 156, 64) !important;
  }

  /* miu */
  .contents_c19a55:has(img[src*="s/1094378607046041803"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1094378607046041803"]) .username_c19a55 {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .contents_c19a55:has(img[src*="s/1095416117280911511"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1095416117280911511"]) .username_c19a55 {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .contents_c19a55:has(img[src*="s/1173046109833285793"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1173046109833285793"]) .username_c19a55 {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .contents_c19a55:has(img[src*="s/1094416367228293120"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1094416367228293120"]) .username_c19a55 {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .contents_c19a55:has(img[src*="s/1251505511912702063"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1251505511912702063"]) .username_c19a55 {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .contents_c19a55:has(img[src*="s/1175234197967884288"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1175234197967884288"]) .username_c19a55 {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .contents_c19a55:has(img[src*="s/1095426341354086400"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1095426341354086400"]) .username_c19a55 {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .contents_c19a55:has(img[src*="s/1175210202518270135"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1175210202518270135"]) .username_c19a55 {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .contents_c19a55:has(img[src*="s/1105545133442740304"]) .username_c19a55,
  .repliedMessage_c19a55:has(img[src*="s/1105545133442740304"]) .username_c19a55 {
    color: rgb(57, 94, 93) !important;
  }
}

@container style(--member-list: on) {
/* group dm member list */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0) .container_c8ffbb .member__5d473,
.chat_f75fb0:has(.gdm_f75fb0) .container_c8ffbb .member__5d473 {
  /* alfred */
  .memberInner__5d473:has(img[src*="s/1038466644353232967"]) .username__703b9 {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .memberInner__5d473:has(img[src*="s/1112561208873193472"]) .username__703b9 {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .memberInner__5d473:has(img[src*="s/1037170273897689189"]) .username__703b9 {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .memberInner__5d473:has(img[src*="s/1338654892641751060"]) .username__703b9 {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .memberInner__5d473:has(img[src*="s/589545486374010884"]) .username__703b9 {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .memberInner__5d473:has(img[src*="s/801881481173401611"]) .username__703b9,
  .memberInner__5d473:has(img[src*="s/933770995104350258"]) .username__703b9 {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .memberInner__5d473:has(img[src*="s/718453321727475792"]) .username__703b9 {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .memberInner__5d473:has(img[src*="s/894770559295049818"]) .username__703b9 {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .memberInner__5d473:has(img[src*="s/1408278092161749035"]) .username__703b9 {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .memberInner__5d473:has(img[src*="s/1125847724118523925"]) .username__703b9 {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .memberInner__5d473:has(img[src*="s/657079914079715329"]) .username__703b9 {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .memberInner__5d473:has(img[src*="s/1038469633960857740"]) .username__703b9 {
    color: rgb(255, 156, 64) !important;
  }

  /* miu */
  .memberInner__5d473:has(img[src*="s/1094378607046041803"]) .username__703b9 {
    color: rgb(255, 173, 173) !important
  }
  /* alfred doppelganger */
  .memberInner__5d473:has(img[src*="s/1095416117280911511"]) .username__703b9 {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .memberInner__5d473:has(img[src*="s/1173046109833285793"]) .username__703b9 {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .memberInner__5d473:has(img[src*="s/1094416367228293120"]) .username__703b9 {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .memberInner__5d473:has(img[src*="s/1251505511912702063"]) .username__703b9 {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .memberInner__5d473:has(img[src*="s/1175234197967884288"]) .username__703b9 {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .memberInner__5d473:has(img[src*="s/1095426341354086400"]) .username__703b9 {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .memberInner__5d473:has(img[src*="s/1175210202518270135"]) .username__703b9 {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .memberInner__5d473:has(img[src*="s/1105545133442740304"]) .username__703b9 {
    color: rgb(57, 94, 93) !important;
  }
}
}

@container style(--reactors-list: on) and style(--low-perf: off) {
.notAppAsidePanel_a3002d:has(> [class*="app"] > div > .layers__960e4 > .layer__960e4 > .container__5e434 > .base__5e434 > .content__5e434 > .page__5e434 > div > .chat_f75fb0 .children__9293f .avatar_f75fb0) .reactorsContainer_b7f4b4,
.notAppAsidePanel_a3002d:has(> [class*="app"] > div > .layers__960e4 > .layer__960e4 > .container__5e434 > .base__5e434 > .content__5e434 > .page__5e434 > div > .chat_f75fb0 .gdm_f75fb0) .reactorsContainer_b7f4b4 {
  /* alfred */
  .reactor_b7f4b4:has(img[src*="s/1038466644353232967"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .reactor_b7f4b4:has(img[src*="s/1112561208873193472"]) .defaultColor__4bd52 {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .reactor_b7f4b4:has(img[src*="s/1037170273897689189"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .reactor_b7f4b4:has(img[src*="s/1338654892641751060"]) .defaultColor__4bd52 {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .reactor_b7f4b4:has(img[src*="s/589545486374010884"]) .defaultColor__4bd52 {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .reactor_b7f4b4:has(img[src*="s/801881481173401611"]) .defaultColor__4bd52,
  .reactor_b7f4b4:has(img[src*="s/933770995104350258"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .reactor_b7f4b4:has(img[src*="s/718453321727475792"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .reactor_b7f4b4:has(img[src*="s/894770559295049818"]) .defaultColor__4bd52 {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .reactor_b7f4b4:has(img[src*="s/1408278092161749035"]) .defaultColor__4bd52 {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .reactor_b7f4b4:has(img[src*="s/1125847724118523925"]) .defaultColor__4bd52 {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .reactor_b7f4b4:has(img[src*="s/657079914079715329"]) .defaultColor__4bd52 {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .reactor_b7f4b4:has(img[src*="s/1038469633960857740"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  .reactor_b7f4b4:has(img[src*="s/1094378607046041803"]) .defaultColor__4bd52 {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .reactor_b7f4b4:has(img[src*="s/1095416117280911511"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .reactor_b7f4b4:has(img[src*="s/1173046109833285793"]) .defaultColor__4bd52 {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .reactor_b7f4b4:has(img[src*="s/1094416367228293120"]) .defaultColor__4bd52 {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .reactor_b7f4b4:has(img[src*="s/1251505511912702063"]) .defaultColor__4bd52 {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .reactor_b7f4b4:has(img[src*="s/1175234197967884288"]) .defaultColor__4bd52 {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .reactor_b7f4b4:has(img[src*="s/1095426341354086400"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .reactor_b7f4b4:has(img[src*="s/1175210202518270135"]) .defaultColor__4bd52 {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .reactor_b7f4b4:has(img[src*="s/1105545133442740304"]) .defaultColor__4bd52 {
    color: rgb(57, 94, 93) !important;
  }
}
}
  
@container style(--poll-results: on) and style(--low-perf: off) {
.notAppAsidePanel_a3002d:has(> [class*="app"] > div > .layers__960e4 > .layer__960e4 > .container__5e434 > .base__5e434 > .content__5e434 > .page__5e434 > div > .chat_f75fb0 .children__9293f .avatar_f75fb0) .votersListContainer__01c8c,
.notAppAsidePanel_a3002d:has(> [class*="app"] > div > .layers__960e4 > .layer__960e4 > .container__5e434 > .base__5e434 > .content__5e434 > .page__5e434 > div > .chat_f75fb0 .gdm_f75fb0) .votersListContainer__01c8c {
  /* alfred */
  .voter__01c8c:has(img[src*="s/1038466644353232967"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .voter__01c8c:has(img[src*="s/1112561208873193472"]) .defaultColor__4bd52 {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .voter__01c8c:has(img[src*="s/1037170273897689189"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .voter__01c8c:has(img[src*="s/1338654892641751060"]) .defaultColor__4bd52 {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .voter__01c8c:has(img[src*="s/589545486374010884"]) .defaultColor__4bd52 {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .voter__01c8c:has(img[src*="s/801881481173401611"]) .defaultColor__4bd52,
  .voter__01c8c:has(img[src*="s/933770995104350258"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .voter__01c8c:has(img[src*="s/718453321727475792"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .voter__01c8c:has(img[src*="s/894770559295049818"]) .defaultColor__4bd52 {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .voter__01c8c:has(img[src*="s/1408278092161749035"]) .defaultColor__4bd52 {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .voter__01c8c:has(img[src*="s/1125847724118523925"]) .defaultColor__4bd52 {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .voter__01c8c:has(img[src*="s/657079914079715329"]) .defaultColor__4bd52 {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .voter__01c8c:has(img[src*="s/1038469633960857740"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  .voter__01c8c:has(img[src*="s/1094378607046041803"]) .defaultColor__4bd52 {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .voter__01c8c:has(img[src*="s/1095416117280911511"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .voter__01c8c:has(img[src*="s/1173046109833285793"]) .defaultColor__4bd52 {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .voter__01c8c:has(img[src*="s/1094416367228293120"]) .defaultColor__4bd52 {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .voter__01c8c:has(img[src*="s/1251505511912702063"]) .defaultColor__4bd52 {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .voter__01c8c:has(img[src*="s/1175234197967884288"]) .defaultColor__4bd52 {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .voter__01c8c:has(img[src*="s/1095426341354086400"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .voter__01c8c:has(img[src*="s/1175210202518270135"]) .defaultColor__4bd52 {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .voter__01c8c:has(img[src*="s/1105545133442740304"]) .defaultColor__4bd52 {
    color: rgb(57, 94, 93) !important;
  }
}
}

@container style(--reactors-list: on) and style(--low-perf: on) {
.reactorsContainer_b7f4b4 {
  /* alfred */
  .reactor_b7f4b4:has(img[src*="s/1038466644353232967"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .reactor_b7f4b4:has(img[src*="s/1112561208873193472"]) .defaultColor__4bd52 {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .reactor_b7f4b4:has(img[src*="s/1037170273897689189"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .reactor_b7f4b4:has(img[src*="s/1338654892641751060"]) .defaultColor__4bd52 {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .reactor_b7f4b4:has(img[src*="s/589545486374010884"]) .defaultColor__4bd52 {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .reactor_b7f4b4:has(img[src*="s/801881481173401611"]) .defaultColor__4bd52,
  .reactor_b7f4b4:has(img[src*="s/933770995104350258"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .reactor_b7f4b4:has(img[src*="s/718453321727475792"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .reactor_b7f4b4:has(img[src*="s/894770559295049818"]) .defaultColor__4bd52 {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .reactor_b7f4b4:has(img[src*="s/1408278092161749035"]) .defaultColor__4bd52 {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .reactor_b7f4b4:has(img[src*="s/1125847724118523925"]) .defaultColor__4bd52 {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .reactor_b7f4b4:has(img[src*="s/657079914079715329"]) .defaultColor__4bd52 {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .reactor_b7f4b4:has(img[src*="s/1038469633960857740"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  .reactor_b7f4b4:has(img[src*="s/1094378607046041803"]) .defaultColor__4bd52 {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .reactor_b7f4b4:has(img[src*="s/1095416117280911511"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .reactor_b7f4b4:has(img[src*="s/1173046109833285793"]) .defaultColor__4bd52 {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .reactor_b7f4b4:has(img[src*="s/1094416367228293120"]) .defaultColor__4bd52 {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .reactor_b7f4b4:has(img[src*="s/1251505511912702063"]) .defaultColor__4bd52 {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .reactor_b7f4b4:has(img[src*="s/1175234197967884288"]) .defaultColor__4bd52 {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .reactor_b7f4b4:has(img[src*="s/1095426341354086400"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .reactor_b7f4b4:has(img[src*="s/1175210202518270135"]) .defaultColor__4bd52 {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .reactor_b7f4b4:has(img[src*="s/1105545133442740304"]) .defaultColor__4bd52 {
    color: rgb(57, 94, 93) !important;
  }
}
}
  
@container style(--poll-results: on) and style(--low-perf: on) {
.votersListContainer__01c8c {
  /* alfred */
  .voter__01c8c:has(img[src*="s/1038466644353232967"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* tarik */
  .voter__01c8c:has(img[src*="s/1112561208873193472"]) .defaultColor__4bd52 {
    color: rgb(18, 138, 28) !important;
  }
  /* ezkli */
  .voter__01c8c:has(img[src*="s/1037170273897689189"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* pep */
  .voter__01c8c:has(img[src*="s/1338654892641751060"]) .defaultColor__4bd52 {
    color: rgb(28, 109, 232) !important;
  }
  /* narox */
  .voter__01c8c:has(img[src*="s/589545486374010884"]) .defaultColor__4bd52 {
    color: rgb(255, 162, 0) !important;
  }
  /* zarzz */
  .voter__01c8c:has(img[src*="s/801881481173401611"]) .defaultColor__4bd52,
  .voter__01c8c:has(img[src*="s/933770995104350258"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* lilly */
  .voter__01c8c:has(img[src*="s/718453321727475792"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 222) !important;
  }
  /* rina */
  .voter__01c8c:has(img[src*="s/894770559295049818"]) .defaultColor__4bd52 {
    color: rgb(255, 91, 236) !important;
  }
  /* bazzy */
  .voter__01c8c:has(img[src*="s/1408278092161749035"]) .defaultColor__4bd52 {
    color: rgb(171, 251, 255) !important;
  }
  /* nakhi */
  .voter__01c8c:has(img[src*="s/1125847724118523925"]) .defaultColor__4bd52 {
    color: rgb(209, 108, 96) !important;
  }
  /* salvation */
  .voter__01c8c:has(img[src*="s/657079914079715329"]) .defaultColor__4bd52 {
    color: rgb(255, 234, 154) !important;
  }
  /* new hyleus */
  .voter__01c8c:has(img[src*="s/1038469633960857740"]) .defaultColor__4bd52 {
    color: rgb(255, 156, 64) !important;
  }
  
  /* miu */
  .voter__01c8c:has(img[src*="s/1094378607046041803"]) .defaultColor__4bd52 {
    color: rgb(255, 173, 173) !important;
  }
  /* alfred doppelganger */
  .voter__01c8c:has(img[src*="s/1095416117280911511"]) .defaultColor__4bd52 {
    color: rgb(255, 0, 0) !important;
  }
  /* pukicho */
  .voter__01c8c:has(img[src*="s/1173046109833285793"]) .defaultColor__4bd52 {
    color: rgb(255, 145, 50) !important;
  }
  /* tay */
  .voter__01c8c:has(img[src*="s/1094416367228293120"]) .defaultColor__4bd52 {
    color: rgb(255, 213, 0) !important;
  }
  /* tarik doppelganger */
  .voter__01c8c:has(img[src*="s/1251505511912702063"]) .defaultColor__4bd52 {
    color: rgb(14, 123, 33) !important;
  }
  /* vaporeon */
  .voter__01c8c:has(img[src*="s/1175234197967884288"]) .defaultColor__4bd52 {
    color: rgb(64, 105, 219) !important;
  }
  /* ezkli doppelganger */
  .voter__01c8c:has(img[src*="s/1095426341354086400"]) .defaultColor__4bd52 {
    color: rgb(180, 20, 238) !important;
  }
  /* dol'utan */
  .voter__01c8c:has(img[src*="s/1175210202518270135"]) .defaultColor__4bd52 {
    color: rgb(134, 134, 134) !important;
  }
  /* contore */
  .voter__01c8c:has(img[src*="s/1105545133442740304"]) .defaultColor__4bd52 {
    color: rgb(57, 94, 93) !important;
  }
}
}

@container style(--typing-indicator: on) {
/* alfred */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1038466644353232967"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 0, 0) !important;
}
/* tarik */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1112561208873193472"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(18, 138, 28) !important;
}
/* ezkli */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1037170273897689189"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(180, 20, 238) !important;
}
/* pep */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1338654892641751060"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(28, 109, 232) !important;
}
/* narox */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/589545486374010884"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 162, 0) !important;
}
/* zarzz */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/801881481173401611"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong,
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/933770995104350258"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 0, 0) !important;
}
/* lilly */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/718453321727475792"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 156, 222) !important;
}
/* rina */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/894770559295049818"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 91, 236) !important;
}
/* bazzy */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1408278092161749035"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(171, 251, 255) !important;
}
/* nakhi */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1125847724118523925"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(209, 108, 96) !important;
}
/* salvation */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/657079914079715329"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 234, 154) !important;
}
/* new hyleus */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1038469633960857740"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 156, 64) !important;
}

/* miu */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1094378607046041803"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 173, 173) !important;
}
/* alfred doppelganger */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1095416117280911511"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 0, 0) !important;
}
/* pukicho */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1173046109833285793"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 145, 50) !important;
}
/* tay */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1094416367228293120"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(255, 213, 0) !important;
}
/* tarik doppelganger */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1251505511912702063"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(14, 123, 33) !important;
}
/* vaporeon */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1175234197967884288"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(64, 105, 219) !important;
}
/* ezkli doppelganger */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1095426341354086400"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(180, 20, 238) !important;
}
/* dol'utan */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1175210202518270135"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(134, 134, 134) !important;
}
/* contore */
.chat_f75fb0:has(.children__9293f .avatar_f75fb0 img[src*="s/1105545133442740304"]) .typingDots_b88801 > .ellipsis_b88801+.text_b88801 > strong {
  color: rgb(57, 94, 93) !important;
}
}
